{% extends 'base.html' %}

{% block title %}Delete Poll{% endblock %}

{% block menu %}
    <a href="{% url 'poll_detail' poll.pk %}" class="btn btn-outline-light">View</a>
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="mt-5">Do you want to delete poll ?</h2>
        <form method="POST" action="{% url 'poll_delete' poll.pk %}">
            {% csrf_token %}
            <p><input type="submit" value="Confirm" class="btn btn-outline-success btn-block"></p>
            <p><a href="{% url 'poll_ls' %}" class="btn btn-outline-success btn-block">Back</a></p>
        </form>
    </div>
{% endblock %}